body {
    background-color: #1f1d27;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
    height: 1000px;
}

a {
    cursor: pointer;
}

/* NAVBAR */

.header-main {
    width: 100%;
    height: 120px;
    background-color: #1c1a24;
    display: flex;
    justify-content: space-between;
}

.header-main-logo {
    width: fit-content;
    height: 100%;
    display: flex;
}

.header-main-logo a {
    height: 100px;
    align-self: center;
    padding-left: 60px;
    display: flex;
}

.header-main-nav {
    width: 120px;
    height: 100%;
}

.header-main-nav ul {
    list-style: none;
    display: flex;
    float: right;
    padding-right: 40px;
}

.header-main-nav ul li {
    display: inline;
}

.header-main-nav ul li a {
    padding: 0 40px;
    line-height: 120px;
    font-size: 20px;
    color: white;
    font-weight: bolder;
    display: block;
    height: 100%;
    -webkit-transition: color 0.5s, font-size 0.5s;
    transition: color 0.5s, font-size 0.5s;
}

.header-main-nav ul li a:hover {
    color: pink;
    transform: scale(1.1);
}

/* DROPDOWN MENU */

.header-main-dropdown {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.header-main-dropdown.open {
    height: 240px;
}
  
.header-main-dropdown ul li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MAIN PAGE */

.welcome {
    background-color: #121117;
    height: 450px;
    width: 900px;
    text-decoration: none;
    color: white;
}

/* RESPONSIVE UI */

@media (max-width: 992px) {
    .header-main-nav-links {
      display: none;
    }
  
    .header-main-dropdown {
      display: block;
    }
}
  
@media (max-width: 576px) {
    .header-main-dropdown {
      left: 2rem;
      width: unset;
    }
}