* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background-color: #1f1d27;
    background-size: cover;
}

a:hover {
    color: pink;
}

/* HEADER */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.header-logo {
    width: 15px;
    height: 100%;
    display: flex;
}

.header-navbar a {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

#header-check {
    display: none;
}

.header-icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: white;
    cursor: pointer;
    display: none;
}

/* BREAKPOINTS */

@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px) {
    .header-icons {
        display: inline-flex;
    }

    .header-icons #header-icons-close {
        display: none;
    }

    #header-check:checked~.header-icons #header-icons-menu {
        display: none;
    }

    #header-check:checked~.header-icons #header-icons-close {
        display: block;
    }

    .header-navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        transition: .3s ease;
        overflow: hidden;
    }

    #header-check:checked~.header-navbar {
        height: 14.16rem;
    }

    .header-navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        opacity: 0;
        transform: translateY(-50px);
        transition: .3s ease;
    }

    #header-check:checked~.header-navbar a {
        transform: translateY(0);
        transition-delay: calc(.15s * var(--i));
        opacity: 1;
    }
}