@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background-color: black;
  background-image: url('https://apexdesigns.w3spaces.com/assets/graphics/background.png');
  background-size: cover;
  background-position: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font: 1rem;
}

a:hover {
  color: violet;
}

/* HEADER & NAVBAR */

header {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: violet;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action_btn:hover {
  scale: 1.05;
  background-color: white;
}

.action_btn:active {
  scale: 0.95;
}

/* DROPDOWN MENU */

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* LOGIN & REGISTER FORM */

.wrapper {
  position: relative;
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: white;
  border-radius: 10px;
  padding: 30px 40px;
  margin: 0 auto;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input_box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input_box input {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  font-size: 16px;
  color: white;
  padding: 20px 45px 20px 20px;
  transition: .5s;
}

.input_box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: white;
  font-size: 16px;
  padding: 0 5px;
  pointer-events: none;
  transition: .5s;
}

.input_box label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  border-left: 2px solid violet;
  border-bottom: 2px solid violet;
  transform: rotate(45deg);
  opacity: 0;
  transition: .5s;
}

.input_box label::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 12px;
  height: 12px;
  border-right: 2px solid violet;
  border-top: 2px solid violet;
  transform: rotate(45deg);
  opacity: 0;
  transition: .5s;
}

.input_box input:focus~label,
.input_box input:valid~label {
  top: 0;
  left: 10px;
  font-size: 11px;
  color: violet;
  padding: 0 12px;
}

.input_box input:focus~label::before,
.input_box input:valid~label::before,
.input_box input:focus~label::after,
.input_box input:valid~label::after {
  top: 2.5px;
  opacity: 1;
}

.input_box input:focus,
.input_box input:valid {
  border: 2px solid violet;
}

.input_box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper .remember_forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember_forgot label input {
  accent-color: white;
  margin-right: 3px;
}

.remember_forgot a {
  color: white;
  text-decoration: none;
}

.remember_forgot a:hover {
  text-decoration: underline;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: white;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.wrapper .register_link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register_link p a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.register_link p a:hover {
  text-decoration: underline;
}

/* RESPONSIVE UI */

@media (max-width: 992px) {
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

@media (max-width: 576px) {
  .wrapper {
    width: unset;
  }
}

